::-moz-selection { 
    color: $white; 
    background-color:  $accent-color;
}

::selection {
    color: $white; 
    background-color: $accent-color;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?i3zzrb');
  src:  url('fonts/icomoon/icomoon.eot?i3zzrb#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?i3zzrb') format('truetype'),
    url('fonts/icomoon/icomoon.woff?i3zzrb') format('woff'),
    url('fonts/icomoon/icomoon.svg?i3zzrb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="yan-"], [class*=" yan-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}


.box-white{
  background-color:$white;
  padding: 2rem;
  text-align: center;
  h3{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom:3rem;
  }
  @include breakpoint(medium) {
     padding: 5rem;
  }
  
}

.history{
  background-color: #EDEDED;
  padding: 3rem 0;
}


.footer{
    background-color: $dark-primary-color;
    color:$white;
    padding: 3rem 0 0.5rem;
    .columns{
      margin:1rem 0;
    }
}

.follow{
    display: flex;
    justify-content: center;
}

.orbit-caption{
    color: $white;
    font-weight: bold;
}

.off-canvas.is-open {
   a{
      border-bottom: 2px solid $dark-primary-color;
      padding:1.5rem 1rem;
      transition: background-color .3s ease-out;
      &:hover{
        background-color: $dark-primary-color;
      }
   }
}

.space-section{
    margin-top:2rem;
    margin-bottom:2rem;
    &--bottom{
        margin-bottom:0;
    }
}


.top-bar-right {
  @include breakpoint(medium) {
     padding-top:8px;
  }
}


.snip1577 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 16px;
  background-color: #000;
}

.snip1577 *,
.snip1577:before,
.snip1577:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.snip1577 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h3,
.snip1577 h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover img,
.snip1577.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.snip1577:hover:before,
.snip1577.hover:before,
.snip1577:hover:after,
.snip1577.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.snip1577:hover:before,
.snip1577.hover:before {
  width: 40px;
}

.snip1577:hover:after,
.snip1577.hover:after {
  height: 40px;
}

.snip1577:hover h3,
.snip1577.hover h3,
.snip1577:hover h4,
.snip1577.hover h4 {
  opacity: 1;
}

.snip1577:hover h3,
.snip1577.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.snip1577:hover h4,
.snip1577.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.text-white{
  color:$white;
}

.yan-sphere:before {
  content: "\e9c9";
}
.yan-facebook:before {
  content: "\ea90";
}
.yan-twitter:before {
  content: "\ea96";
}
.yan-youtube2:before {
  content: "\ea9e";
}

